{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  , {lager, "3.4.2"}
  , {pg_test_utils, {git, "https://github.com/simonxu72/pg_test_utils", {branch, "master"}}}
]}.

{shell, [{apps, [crypto, lager, up_config]}, {config, "sys.config"}]}.

{lager, [
  {log_root, "log"},
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, debug}]}
  ]}
]}.